services:
  postgres:
    image: pgvector/pgvector:0.8.0-pg17
    container_name: smartmatchai_pgvector
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: test
      POSTGRES_DB: smartmatch
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
